@*@model IEnumerable<Utility.Models.VehicleRequest>
*@
@using System.Text.Json;
@{
    ViewData["Title"] = "Vehicle Request";
    var UserData = JsonSerializer.Deserialize<Domain.ViewModels.UserViewModel>(@ViewBag.JsonUserData);
}
<link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/icons@latest/iconfont/tabler-icons.min.css">
<link rel="stylesheet" href="~/assets/vendor/libs/spinkit/spinkit.css" />

<link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
@* ************** Content ************** *@
<input type="hidden" id="UserData" value="@ViewBag.JsonUserData">
<input type="hidden" id="UserDataJson" value="@ViewBag.JsonData">

<input type="hidden" id="SelectedRegion" value="">


@*Menu Items from the database*@

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Vehicle Request</h5>

    </div>
    <div class="card-datatable table-responsive mytable">
        <table class="datatables-users-mytable table border-top">
            <thead class="table-dark">
                <tr>
                    <th class="visiblityhidden" style="display:none"></th>
                    <th>Emp ID</th>
                    <th>Purpose</th>
                    <th>Region</th>
                    <th>Contact</th>
                    <th>Request Date</th>
                    <th>Request Time</th>
                    <th>Status</th>
                    <th>Action</th>


                    @*<th>Actions</th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

  
    
    
    <!-- Offcanvas to add new user -->
    <div class="modal fade" tabindex="-1" id="modalassigncar" aria-labelledby="offcanvasAddUserLabel">
        <!--offcanvasAddUser-->
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content p-3 p-md-5">

                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3 class="mb-2">Assign Car and Driver</h3>
                        <p class="text-muted">Car and Driver Availbility </p>
                    </div>
                    <form class="row g-3" id="addNewUserForm" onsubmit="return false">

                        <label for="VehicleAssign" class="form-label">Vehicle</label>
                        <select id="VehicleAssign"
                                class="selectpicker w-100"
                                data-style="btn-default"
                                data-show-subtext="true">
                           
                          
                        </select>

                        <label for="DriverAssign" class="form-label">Driver</label>
                        <select id="DriverAssign"
                                class="selectpicker w-100"
                                data-style="btn-default"
                                data-show-subtext="true">
                            <option data-subtext="Framework" value="0">React</option>
                            <option data-subtext="Styles">Sass</option>
                            <option data-subtext="Markup">HTML</option>
                        </select>

                        <label for="FuelCardAssign" class="form-label">Fuel Card</label>
                        <select id="FuelCardAssign"
                                class="selectpicker w-100"
                                data-style="btn-default"
                                data-show-subtext="true">
                            <option data-subtext="Framework" value="0">React</option>
                            <option data-subtext="Styles">Sass</option>
                            <option data-subtext="Markup">HTML</option>
                        </select>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                            <button type="reset" class="btn btn-label-secondary" id="btnCancelSave" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>


<div class="content-backdrop fade"></div>
@*<button type="button" class="btn btn-primary me-sm-3 me-1" onclick="btnShow()">Show</button>*@
@*<div class="block-ui-btn demo-inline-spacing">
<button type="button" class="btn btn-primary btn-page-block-custom me-sm-3 me-1">Icon</button>
</div>*@

<style>
    .approve {
        color: green;
    }

        .approve:hover {
            color: greenyellow;
        }

    .reject {
        color: red;
    }

        .reject:hover {
            color: orangered;
        }
</style>


<script src="~/assets/vendor/libs/block-ui/block-ui.js"></script>
<script src="~/js/ui-toasts.js"></script>
<script src="~/assets/js/extended-ui-blockui.js"></script>
<script src="~/js/projectjs/RequestManage.js"></script>
@*<script src="~/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>*@

@*  <script src="~/assets/js/app-user-list.js" defer></script>*@
<script defer>

</script>

