@using System.Text.Json;
@{
    ViewData["Title"] = "Users";
    var Users = ViewBag.Users;
    var UserData = JsonSerializer.Deserialize<Domain.ViewModels.UserViewModel>(@ViewBag.JsonUserData);
}
<link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />

@* ************** Content ************** *@
<input type="hidden" id="UserData" value="@ViewBag.JsonUserData">
<input type="hidden" id="UserDataJson" value="@ViewBag.JsonData">

<input type="hidden" id="SelectedRegion" value="">
<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Session</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">21,459</h4>
                            <span class="text-success">(+29%)</span>
                        </div>
                        <span>Total Users</span>
                    </div>
                    <span class="badge bg-label-primary rounded p-2">
                        <i class="ti ti-user ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Paid Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">4,567</h4>
                            <span class="text-success">(+18%)</span>
                        </div>
                        <span>Last week analytics </span>
                    </div>
                    <span class="badge bg-label-danger rounded p-2">
                        <i class="ti ti-user-plus ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Active Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">19,860</h4>
                            <span class="text-danger">(-14%)</span>
                        </div>
                        <span>Last week analytics</span>
                    </div>
                    <span class="badge bg-label-success rounded p-2">
                        <i class="ti ti-user-check ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Pending Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">237</h4>
                            <span class="text-success">(+42%)</span>
                        </div>
                        <span>Last week analytics</span>
                    </div>
                    <span class="badge bg-label-warning rounded p-2">
                        <i class="ti ti-user-exclamation ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->



<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Search Filter</h5>
        <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
            <div class="col-md-4 user_role"></div>
            <div class="col-md-4 user_plan"></div>
            <div class="col-md-4 user_status"></div>
        </div>
    </div>
    @*  <div class="card-datatable table-responsive">
    <table class="datatables-users table border-top">
    <thead>
    <tr>
    <th></th>
    <th>User</th>
    <th>Role</th>
    <th>Plan</th>
    <th>Billing</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
    </table>
    </div>*@

    <div class="card-datatable table-responsive mytable">
        <table class="datatables-users-mytable table border-top">
            <thead class="table-dark">
                <tr>
                    <th hidden="hidden"></th>
                    <th>User</th>
                    <th>Role Assign</th>
                    <th>Access Rights</th>
                    <th>Region</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <!-- Offcanvas to add new user -->
    <div class="modal fade" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
        <!--offcanvasAddUser-->
        <!--offcanvasAddUser-->
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content p-3 p-md-5">


                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3 class="mb-2">New User Information</h3>
                        <p class="text-muted">Add User details.</p>
                    </div>
                    <form class="row g-3" id="formValidationExamples" onsubmit="return false">

                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6 visiblityhidden">
                            <div class="form-group">
                                <label class="visiblityhidden">ID</label>
                                <input type="text" class="form-control userId visiblityhidden" name="Id" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6">

                            <span class="stred">*</span><label class="form-label" for="add-user-fullname"> First Name</label>
                            <input type="text" class="form-control userfirstnameadd onlyalphabetallow" id="FirstName" name="FirstName" tabindex="1" autofocus />
                            <p class="error-message">* First Name Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> Last Name</label>
                            <input type="text" class="form-control userlastnameadd onlyalphabetallow" id="LastName" name="LastName" tabindex="2" />
                            <p class="error-message">* Last Name Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            @*  email_validation_csn*@
                            <span class="stred">*</span><label class="form-label"> User Email</label>
                            <input type="text" class="form-control useremailadd " id="UserName" name="UserName" />
                            <p class="error-message">* Email Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label c> Role</label>
                            <select class="form-control role_list form-select select2" id="RoleSelect2" data-allow-clear="true" name="RoleSelect2" tabindex="5">
                            </select>
                            <p class="error-message">* Role Required</p>


                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> AccessRights</label>
                            <select class="form-control accessrights_list form-select select2" data-allow-clear="true" id="AccessRightsSelect2" name="AccessRightsSelect2">
                            </select>
                            <p class="error-message">* AccessRights Required</p>
                        </div>

                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> Region List</label>

                            <select class="regionlist form-control form-select select2" data-allow-clear="true" id="RegionSelect2" name="RegionSelect2">
                            </select>

                            <p class="error-message">* Region Required</p>

                        </div>
                        <div class="form-password-toggle">
                            <span class="stred">*</span><label class="form-label" for="user-role"> Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control userpassword1add" id="Password" name="Password" />
                                <span class="input-group-text cursor-pointer" id="multicol-password2">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-password-toggle">
                            <span class="stred">*</span><label class="form-label">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control userpassword2add" id="formValidationConfirmPass" name="formValidationConfirmPass" />
                                <span class="input-group-text cursor-pointer" id="multicol-confirm-password2">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>

                        @*  <p class="error-message">* Password Required</p>
                        <span class="input-group-text cursor-pointer" id="multicol-password2">
                        <i class="ti ti-eye-off"></i>
                        </span>*@
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>

                        <button type="reset" id="btnCancelSave" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Offcanvas to Edit new user -->
    <div class="modal fade" tabindex="-1" id="EditoffcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
        <!--offcanvasAddUser-->
        <!--offcanvasAddUser-->
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content p-3 p-md-5">


                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3 class="mb-2">Edit User Information</h3>
                        <p class="text-muted">Edit User details.</p>
                    </div>
                    <form class="row g-3" id="editformValidationExamples" onsubmit="return false">

                        <div class="col-12 col-md-6" hidden>
                            <div class="form-group">
                                <label class="visiblityhidden">ID</label>
                                <input type="text" class="form-control userId visiblityhidden"   id="edituserid" name="Id" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6">

                            <span class="stred">*</span><label class="form-label" for="add-user-fullname"> First Name</label>
                            <input type="text" class="form-control userfirstnameadd onlyalphabetallow" id="editFirstName" name="editFirstName" tabindex="1" autofocus />
                            <p class="error-message">* First Name Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> Last Name</label>
                            <input type="text" class="form-control userlastnameadd onlyalphabetallow" id="editLastName" name="editLastName" tabindex="2" />
                            <p class="error-message">* Last Name Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            @*  email_validation_csn*@
                            <span class="stred">*</span><label class="form-label"> User Email</label>
                            <input type="text" class="form-control useremailadd " id="editUserName" name="editUserName" />
                            <p class="error-message">* Email Required</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label c> Role</label>
                            <select class="form-control editrole_list form-select select2" id="editRoleSelect2" data-allow-clear="true" name="editRoleSelect2" tabindex="5">
                            </select>
                            <p class="error-message">* Role Required</p>


                        </div>
                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> AccessRights</label>
                            <select class="form-control accessrights_list form-select select2" data-allow-clear="true" id="editAccessRightsSelect2" name="editAccessRightsSelect2">
                            </select>
                            <p class="error-message">* AccessRights Required</p>
                        </div>




                        <div class="col-12 col-md-6">
                            <span class="stred">*</span><label class="form-label"> Region List</label>

                            <select class="regionlist form-control form-select select2" data-allow-clear="true" id="editRegionSelect2" name="editRegionSelect2">
                            </select>

                            <p class="error-message">* Region Required</p>

                        </div>
                        <div class="form-password-toggle" hidden>
                            <span class="stred">*</span><label class="form-label" for="user-role"> Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control userpassword1add" id="editPassword" name="editPassword" />
                                <span class="input-group-text cursor-pointer" id="multicol-password2">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-password-toggle" hidden>
                            <span class="stred">*</span><label class="form-label">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control userpassword2add" id="editformValidationConfirmPass" name="editformValidationConfirmPass" />
                                <span class="input-group-text cursor-pointer" id="multicol-confirm-password2">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="chkactive">Active User</label>
                            <div class="form-check form-switch mb-2 mt-0 ms-2">
                                <input class="form-check-input" type="checkbox" id="chkactive" checked />
                                <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                            </div>
                        </div>

                        @*  <p class="error-message">* Password Required</p>
                        <span class="input-group-text cursor-pointer" id="multicol-password2">
                        <i class="ti ti-eye-off"></i>
                        </span>*@
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>

                        <button type="reset" id="btnCanceledit" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .error-message {
        display: none !important;
    }
</style>


<script src="~/js/projectjs/user.js"></script>

@*  <script src="~/assets/js/app-user-list.js" defer></script>*@

@*<script src="~/assets/myjs/user.js"></script>*@










