@*@model IEnumerable<Utility.Models.VehicleRequest>
*@
@using System.Text.Json;
@{
    ViewData["Title"] = "Vehicle Request";
    var UserData = JsonSerializer.Deserialize<Domain.ViewModels.UserViewModel>(@ViewBag.JsonUserData);
}
<link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/icons@latest/iconfont/tabler-icons.min.css">
<link rel="stylesheet" href="~/assets/vendor/libs/spinkit/spinkit.css" />

<link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
@* ************** Content ************** *@
<input type="hidden" id="UserData" value="@ViewBag.JsonUserData">
<input type="hidden" id="UserDataJson" value="@ViewBag.JsonData">

<input type="hidden" id="SelectedRegion" value="">


@*Menu Items from the database*@

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Vehicle Request</h5>

    </div>

    <!-- Form with Image horizontal Modal -->
    <div class="modal-onboarding modal fade animate__animated"
         id="onboardHorizontalImageModal"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content text-center">
                <div class="modal-header border-0">
                   @* <a class="text-muted close-label" href="javascript:void(0);" data-bs-dismiss="modal">Skip Intro</a>*@
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body onboarding-horizontal p-0">
                    <div class="onboarding-media">
                        <img src="~/img/CityLogo/approvegreen.png"
                             alt="boy-verify-email-light"
                             width="273"
                             class="img-fluid"
                            />
                    </div>
                    <div class="onboarding-content mb-0">
                        <h4 class="onboarding-title text-body">Employee's Request Approval</h4>
                        <div class="onboarding-info">
                            In this example you can see a form where you can request some additional information
                            from the customer when they land on the app page.
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label for="nameEx7" class="form-label">Reason</label>
                                        <textarea class="form-control"
                                                  rows = " 3"
                                                  cols="0"
                                                  value=""
                                                  name="description"
                                                  id="nameEx7"
                                                  placeholder="Enter Reason">
                                                </textarea>
                                        
                                        <input class="form-control"
                                               placeholder="Enter Reason"
                                               type="text"
                                               hidden="hidden"
                                               value=""
                                               tabindex="0"
                                               id="ReqID" />
                                    </div>
                                </div>
                              
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-label-secondary" id="btnCancelapp" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-success" onclick="Approved()">Approve</button>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form with Image horizontal Modal -->
   
    
    <!-- REJECTED Form with Image horizontal Modal -->
    <div class="modal-onboarding modal fade animate__animated"
         id="onboardHorizontalImageModalReject"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content text-center">
                <div class="modal-header border-0">
                    @* <a class="text-muted close-label" href="javascript:void(0);" data-bs-dismiss="modal">Skip Intro</a>*@
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body onboarding-horizontal p-0">
                    <div class="onboarding-media">
                        <img src="~/img/CityLogo/rejectedstamp.png"
                             alt="boy-verify-email-light"
                             width="273"
                             class="img-fluid" />
                    </div>
                    <div class="onboarding-content mb-0">
                        <h4 class="onboarding-title text-body">Employee's Request Reject</h4>
                        <div class="onboarding-info">
                            In this example you can see a form where you can request some additional information
                            from the customer when they land on the app page.
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label for="txtReasonReject" class="form-label">Reason</label>
                                        <textarea class="form-control"
                                                  rows=" 3"
                                                  cols="0"
                                                  value=""
                                                  name="description"
                                                  placeholder="Enter Reason"
                                                  id="txtReasonReject">
                                                </textarea>

                                        <input class="form-control"
                                               
                                               type="text"
                                               hidden="hidden"
                                               value=""
                                               tabindex="0"
                                               id="ReqIDReject" />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-label-secondary" id="btnCancelrej" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" onclick="Reject()">Reject</button>
                </div>
            </div>
        </div>
    </div>
    <!--/ Form with Image horizontal Modal -->


    <div class="card-datatable table-responsive mytable">
        <table class="datatables-users-mytable table border-top">
            <thead class="table-dark">
                <tr>
                    <th class="visiblityhidden" style="display:none"></th>
                    <th>Emp ID</th>
                    <th>Purpose</th>
                    <th>Region</th>
                    <th>Contact</th>
                    <th>Request Date</th>
                    <th>Request Time</th>
                    <th>Status</th>
                    <th>Action</th>


                    @*<th>Actions</th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>




</div>


<div class="content-backdrop fade"></div>
@*<button type="button" class="btn btn-primary me-sm-3 me-1" onclick="btnShow()">Show</button>*@
@*<div class="block-ui-btn demo-inline-spacing">
<button type="button" class="btn btn-primary btn-page-block-custom me-sm-3 me-1">Icon</button>
</div>*@

<style>
    .approve{
        color:green;
    }
        .approve:hover {
        color: greenyellow;
    }

    .reject {
        color: red;
    }

        .reject:hover {
            color: orangered;
        }
</style>


<script src="~/assets/vendor/libs/block-ui/block-ui.js"></script>
<script src="~/js/ui-toasts.js"></script>
<script src="~/assets/js/extended-ui-blockui.js"></script>
<script src="~/js/projectjs/EmpReqList.js"></script>
@*<script src="~/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>*@

@*  <script src="~/assets/js/app-user-list.js" defer></script>*@
<script defer>

</script>

