@model IEnumerable<Domain.ViewModels.NavigationMenuViewModel>
@using System.Text.Json;
@{
    ViewData["Title"] = "Navigation Menu";
    var UserData = JsonSerializer.Deserialize<Domain.ViewModels.UserViewModel>(@ViewBag.JsonUserData);
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/icons@latest/iconfont/tabler-icons.min.css">
<link rel="stylesheet" href="~/assets/vendor/libs/spinkit/spinkit.css" />

<link href="~/vendor/libs/toastr/toastr.css" rel="stylesheet" />
@* ************** Content ************** *@
<input type="hidden" id="UserData" value="@ViewBag.JsonUserData">
<input type="hidden" id="UserDataJson" value="@ViewBag.JsonData">

<input type="hidden" id="SelectedRegion" value="">


@*Menu Items from the database*@




<!-- Toast with Placements -->
<div class="bs-toast toast toast-placement-ex m-2"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-bs-delay="2000">
    <div class="toast-header">
        <i class="ti ti-bell ti-xs me-2"></i>
        <div class="me-auto fw-semibold">Bootstrap</div>
        <small class="text-muted">11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Hello, world! This is a toast message.</div>
</div>
<!-- Toast with Placements -->

<input type="text" class="form-control navigationId" hidden="hidden" />

@*<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Session</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">21,459</h4>
                            <span class="text-success">(+29%)</span>
                        </div>
                        <span>Total Users</span>
                    </div>
                    <span class="badge bg-label-primary rounded p-2">
                        <i class="ti ti-user ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Paid Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">4,567</h4>
                            <span class="text-success">(+18%)</span>
                        </div>
                        <span>Last week analytics </span>
                    </div>
                    <span class="badge bg-label-danger rounded p-2">
                        <i class="ti ti-user-plus ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Active Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">19,860</h4>
                            <span class="text-danger">(-14%)</span>
                        </div>
                        <span>Last week analytics</span>
                    </div>
                    <span class="badge bg-label-success rounded p-2">
                        <i class="ti ti-user-check ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Pending Users</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">237</h4>
                            <span class="text-success">(+42%)</span>
                        </div>
                        <span>Last week analytics</span>
                    </div>
                    <span class="badge bg-label-warning rounded p-2">
                        <i class="ti ti-user-exclamation ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->*@



<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Navigations</h5>
      @*  <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
            <div class="col-md-4 user_role"></div>
            <div class="col-md-4 user_plan"></div>
            <div class="col-md-4 user_status"></div>
        </div>*@
    </div>
    @*  <div class="card-datatable table-responsive">
    <table class="datatables-users table border-top">
    <thead>
    <tr>
    <th></th>
    <th>User</th>
    <th>Role</th>
    <th>Plan</th>
    <th>Billing</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
    </table>
    </div>*@

    <div class="card-datatable table-responsive mytable">
        <table class="datatables-users-mytable table border-top">
            <thead>
                <tr>
                    <th class="visiblityhidden"></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Controller</th>
                    <th>Parent Menu</th>
                    <th class="visiblityhidden"></th>
                    <th>Visible</th>
                    <th>display Order</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <!-- Offcanvas to add new user -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
        <!--offcanvasAddUser-->

        <div class="offcanvas-header">
            <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Navigation</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
            <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">

                <div class="mb-3">
                    <span class="stred">*</span><label class="form-label" for="add-user-fullname">Name</label>
                    <input type="text" class="form-control menuName onlyalphabetallow" tabindex="1" autofocus />
                    <p class="error-message">*Name Required</p>
                </div>

                <div class="mb-3">   
                      <label class="form-label" for="multicol-country">Parent Menu</label>
                    <select id="multicol-countryAdd" class="select2 form-select navigationparentmenu" data-allow-clear="true">
                       </select>
                </div>
                <div class="mb-3">
                    <label for="selectpickerIcons" class="form-label">Icons</label>
                    <select class="selectpicker show-tick myselectpickerIcons"
                            id="selectpickerIcons"
                            data-icon-base="ti"
                            data-tick-icon="ti-check"
                            data-style="btn-default"
                            data-live-search="true">
                        @*<option data-icon="ti ti-brand-instagram">Instagram</option>
                        <option data-icon="ti ti-brand-pinterest">Pinterest</option>
                        <option data-icon="ti ti-brand-twitch">Twitch</option>*@
                    </select>
                </div>

                <div class="mb-3">
                    <span class="stred">*</span><label class="form-label"> Controller</label>
                    <input type="text" class="form-control menuController" />
                    <p class="error-message">* Controller Required</p>
                </div>

               <div class="mb-3">
                    <span class="stred">*</span><label class="form-label" for="add-user-fullname">Dispaly Order</label>
                    <input type="text" class="form-control menuDisplayorder" tabindex="1" autofocus />
                    <p class="error-message">*Display Order Required</p>
                </div>
               
               
                <button type="button" class="btn btn-primary me-sm-3 me-1" onclick="SaveNavigation()">Submit</button>
                <button type="reset" class="btn btn-label-secondary" id="btnCancel" data-bs-dismiss="offcanvas">Cancel</button>
            </form>
        </div>

    </div>


    <!-- Offcanvas to Edit new Navigation -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEditNav" aria-labelledby="offcanvasEditNavLabel">
        <!--offcanvasAddUser-->

        <div class="offcanvas-header">
            <h5 id="offcanvasEditNavLabel" class="offcanvas-title">Edit Navigation</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
            <form class="add-new-user pt-0" id="EditNavForm" onsubmit="return false">
               
                 <div class="mb-3">
                    <span class="stred">*</span><label class="form-label" for="add-user-fullname">ID</label>
                    <input type="text" class="form-control editmenuID" tabindex="1" autofocus />
                    <p class="error-message">*Name Required</p>
                </div>
                <div class="mb-3">
                    <span class="stred">*</span><label class="form-label" for="add-user-fullname">Name</label>
                    <input type="text" class="form-control editmenuName onlyalphabetallow" tabindex="1" autofocus />
                    <p class="error-message">*Name Required</p>
                </div>
                <div class="mb-3">
                    <label for="selectpickerIcons" class="form-label">Icons</label>
                    <select class="selectpicker show-tick editmyselectpickerIcons" name="selValue"
                            id="selectpickerIcons"
                            data-icon-base="ti"
                            data-tick-icon="ti-check"
                            data-style="btn-default"
                            data-live-search="true">
                        @*<option data-icon="ti ti-brand-instagram">Instagram</option>
                        <option data-icon="ti ti-brand-pinterest">Pinterest</option>
                        <option data-icon="ti ti-brand-twitch">Twitch</option>*@
                    </select>


                </div>

                <div class="mb-3">
                    <label class="form-label" for="multicol-country">Parent Menu</label>
                    <select id="multicol-country" class="select2 form-select editSnavigationparentmenu" data-allow-clear="true">
                    </select>
                </div>

                <div class="mb-3">
                    <span class="stred">*</span><label class="form-label">Controller</label>
                    <input type="text" class="form-control editmenuController" />
                    <p class="error-message">* Controller Required</p>
                </div>

                <div class="mb-3">
                    <span class="stred">*</span><label class="form-label" for="add-user-fullname">Dispaly Order</label>
                    <input type="text" class="form-control editmenuDisplayorder" tabindex="1" autofocus />
                    <p class="error-message">*Display Order Required</p>
                </div>

                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked">Visible</label>
                </div>
                

                <button type="button" class="btn btn-primary me-sm-3 me-1" onclick="EditNav()">Edit</button>
                <button type="reset" class="btn btn-label-secondary" id="btnCancelEdit" data-bs-dismiss="offcanvas">Cancel</button>
            </form>
        </div>

    </div>
</div>
@*<button type="button" class="btn btn-primary me-sm-3 me-1" onclick="btnShow()">Show</button>*@
@*<div class="block-ui-btn demo-inline-spacing">
<button type="button" class="btn btn-primary btn-page-block-custom me-sm-3 me-1">Icon</button>
</div>*@


<style>
    .error-message {
        display: none !important;
    }
</style>

<script src="~/assets/vendor/libs/block-ui/block-ui.js"></script>
<script src="~/js/ui-toasts.js"></script>
<script src="~/assets/js/extended-ui-blockui.js"></script>
<script src="~/js/projectjs/navigation.js"></script>
@*  <script src="~/assets/js/app-user-list.js" defer></script>*@
<script defer>
   
</script>

